div.wrapper > div.content > div.swiper1 {
	width: 100%;
	height: 100%;
	max-width: 1336px;
	padding: 0 3px;
	position: relative;
}

div.wrapper > div.content > div.swiper1 > div.swiper-button-disabled {
	visibility: hidden;
	opacity: 0;
}

div.wrapper > div.content > div.swiper1 > div.swiper-button-next,
div.wrapper > div.content > div.swiper1 > div.swiper-button-prev {
	top: 60% !important;
}

div.wrapper > div.content > div.swiper1 > div.swiper-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
}

div.wrapper
	> div.content
	> div.swiper1
	> div.swiper-wrapper
	> div.swiper-slide {
	text-align: center;
	font-size: 18px;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

div.wrapper
	> div.content
	> div.swiper1
	> div.swiper-wrapper
	> div.swiper-slide
	> div.story {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.wrapper
	> div.content
	> div.swiper1
	> div.swiper-wrapper
	> div.swiper-slide
	> div.story
	> div.container {
	width: 84px;
	height: 84px;
	background: linear-gradient(315deg, #e03d96, #7d4c9e);
	padding: 2px;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.wrapper
	> div.content
	> div.swiper1
	> div.swiper-wrapper
	> div.swiper-slide
	> div.story
	> div.container
	> div.container {
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

div.wrapper
	> div.content
	> div.swiper1
	> div.swiper-wrapper
	> div.swiper-slide
	> div.story
	> div.container
	> div.container
	> img {
	width: 74px;
	height: 74px;
	border-radius: 50%;
	object-fit: cover;
}

div.wrapper
	> div.content
	> div.swiper1
	> div.swiper-wrapper
	> div.swiper-slide
	> div.story
	> p {
	color: #23254e;
	font-size: 11px;
	line-height: 2.17;
	margin-top: 8px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
